---
---

@import "{{ site.theme }}";

.page-header {
  color: #fff;
  text-align: center;
  /* background-color: #159957; */
  /* background-image: linear-gradient(120deg, #155799, #159957); */
  background: #ED4264;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #FFEDBC, #ED4264);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #FFEDBC, #ED4264); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.main-content h1,
.main-content h2,
.main-content h3,
.main-content h4,
.main-content h5,
.main-content h6 {
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-weight: normal;
  color: #3b4274;
}

.instagram-feed {
  overflow: hidden;
}

#instagram-feed1 > .instagram_gallery > a > img {
  padding-right: 2px;
}

.dot {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  display: inline-block;
}

.python-dot {
  background-color: #3572A5;
}

.rust-dot {
  background-color: #DEA584;
}

// #instagram-feed1 > .instagram_profile > .instagram_username {
//   display: none,
// }
